TZ=Africa/Nairobi
PUID=501
PGID=20
CONFIG_ROOT=/Users/code/docker/jellyfin
DATA_ROOT=/Volumes/980/data
JELLYSTAT_POSTGRES_USER=postgres
JELLYSTAT_POSTGRES_PASSWORD=changeme
JELLYSTAT_JWT_SECRET=changeme
